<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Demo Of {{ title }}!
  </h1>
</div>

<eui-layout style="width: 1000px; height:400px;">
  <eui-layout-panel region="west" style="width:200px; padding-right: 5px">

    <eui-datalist style="height:95px; padding-bottom: 5px" (selectionChange)="onListSelectedChange($event)"
      [data]="list_data" #company
      [(selection)]="list_selection" id = "company"
      selectionMode="single">
      <ng-template euiItemTemplate let-row>
      <div class="product f-row">
        <div class="detail">
          <p>{{row.name}}</p>
        </div>
      </div>
      </ng-template>
    </eui-datalist>

    <eui-tree style="height:295px; padding-top: 5px" #orgnization
    id = "orgnization" (selectionChange)="onTreeSelectedChange($event)"
    [data]="tree_data" [(selection)]="tree_selection">
    </eui-tree>
  </eui-layout-panel>

  <eui-layout-panel region="center" style="width: 800px; padding-left: 5px">
    <eui-datagrid style="height: 900px;" [data]="grid_data" id="members" #members >
      <eui-grid-column field="name" title="姓名"></eui-grid-column>
      <eui-grid-column field="sex" title="性别" align="right"></eui-grid-column>
      <eui-grid-column field="age" title="年龄" align="right"></eui-grid-column>
      <eui-grid-column title="操作" width="30%">
          <ng-template euiCellTemplate let-rowIndex="rowIndex">
              <button (click)="onEdit(rowIndex)">编辑</button>
              <button (click)="onDelete(rowIndex)">删除</button>
            </ng-template>
      </eui-grid-column>
    </eui-datagrid>
  </eui-layout-panel>
</eui-layout>
