.product .detail{
    align-self: center;
}
.product img{
    height: 100px;
    padding: 10px;
}
.product p{
    margin: 0;
    padding: 6px 0;
}
.title{
    text-align: center;
    margin-top: 10px;
}